<div class="build-table-container-parent">
    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
            No records found
        </div>
    </div>
    <div class="build-table-container">
        <table mat-table [dataSource]="data" class="example-table" matSort
            matSortActive="Start_DateTimeStamp" matSortDisableClear matSortDirection="asc">

            <ng-container matColumnDef="Build_ID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Build_ID</th>
                <td mat-cell *matCellDef="let row">{{row.Build_ID}}</td>
            </ng-container>
            <ng-container matColumnDef="Start_DateTimeStamp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Build Run Date </th>
                <td mat-cell *matCellDef="let row">{{row.Start_DateTimeStamp | date: 'mediumDate'}}</td>
            </ng-container>
            <ng-container matColumnDef="Updated_On">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Updated On </th>
                <td mat-cell *matCellDef="let row">{{row.Start_DateTimeStamp | date: 'mediumDate'}}</td>
            </ng-container>
            <ng-container matColumnDef="Portfolio_Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Portfolio</th>
                <td mat-cell *matCellDef="let row">{{row.Portfolio_Name}}</td>
            </ng-container>
            <ng-container matColumnDef="ValueStream_Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Value Stream</th>
                <td mat-cell *matCellDef="let row">{{row.ValueStream_Name}}</td>
            </ng-container>
            <ng-container matColumnDef="CI_Application_Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Application</th>
                <td mat-cell *matCellDef="let row">{{row.CI_Application_Name}}</td>
            </ng-container>
            <ng-container matColumnDef="Test_Environment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Environment</th>
                <td mat-cell *matCellDef="let row">{{row.Test_Environment}}</td>
            </ng-container>
            <ng-container matColumnDef="Build_Status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Status </th>
                <td mat-cell *matCellDef="let row">{{row.Build_Status | titlecase}}</td>
            </ng-container>

            <ng-container matColumnDef="Predicted_RCA">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Predicted RCA </th>
                <td mat-cell *matCellDef="let row">{{row.Predicted_RCA}}</td>
            </ng-container>
            <ng-container matColumnDef="Actual_RCA">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Actual RCA </th>
                <td mat-cell *matCellDef="let row">{{row.Actual_RCA}}</td>
            </ng-container>
            <ng-container matColumnDef="RCA_Review_Status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Review Status </th>
                <td mat-cell *matCellDef="let row"><span class="reviewstatusdot"
                        [class.statuspending]="row.RCA_Review_Status==='Pending'"
                        [class.statusapproved]="row.RCA_Review_Status==='Approved'"></span>{{row.RCA_Review_Status}}
                </td>
            </ng-container>
           
            <tr mat-header-row sticky *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>
        </table>
    </div>
</div>