/* Structure */
.left-tree {
  margin:0px;
  /* border-right: 1px solid rgb(63, 81, 181); */
  /* overflow: auto; */
}
.mat-drawer-sidepane {
  margin: 0px;
}

.build-table-toolbar{
  border-bottom: 1px solid rgb(87, 87, 87);
  border-bottom-color: rgba(0,0,0,.12);
  margin: 0px;
}
.left-tree-header{
  height:30px;
}
.right-table-Info{
  border:solid 1px black;
  height:30px;
}
.right-table-Stat{
  border:solid 1px black;
  height:30px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(199, 199, 199); 
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;; 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f51b5;; 
}
table{
  width: 100%;
 }
.mat-header-row {
  background-color: #f9f9f9;
}
.example-container {
   /*  position: relative; */
    /* min-height: 200px; */
   
   /*    width: 400px;
      height: 200px;
      margin: 10px; */
      border: 1px solid #555;

  }
  .build-table-container {
    /* border:solid 1px red; */
    width:100%;
  }
  .build-table-container-parent {
    position: relative;
    margin:0px;
 /*    max-height: 100%;
    width:100%;
    overflow: auto; */
  
    /* border:solid 1px black; */
  }
  .fill-remaining-space{
    flex: 1 1 auto;
  }
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    align-items: center;
    justify-content: center;
  }
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  .mat-column-created {
    max-width: 124px;
  }
  .statuspending{
    height: 7px;
    width: 7px;
    background-color:#ff6347;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
  }
  .statusapproved{
    height: 7px;
    width: 7px;
    background-color:#27b547;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
  }
 