<p></p>
<button mat-stroked-button (click)="loadTable()">
  <mat-icon>refresh</mat-icon>
</button>
<button mat-stroked-button (click)="prevRecords()">
  <mat-icon>navigate_before</mat-icon>
</button>
<button mat-stroked-button (click)="nextRecords()">
  <mat-icon>navigate_next</mat-icon>
</button>
<button mat-stroked-button [matBadge]="selectedRowCnt" matBadgePosition="after" matBadgeColor="accent"
  (click)="openUpdateDialog()">
  <mat-icon>edit</mat-icon>
</button>

<div class="table-responsive">

</div>

<mat-divider></mat-divider>

<div class="row">
  <div class="column left">
    <app-tree #userInformation></app-tree>
  </div>
  <div class="column right">
    <app-table [objtree]="userInformation"></app-table>
  </div>
</div>

