.mat-toolbar {

  position: relative;

  z-index: 2;

}

 

* {

  box-sizing: border-box;

}

 

.column {

  float: left;

  margin-top: 0px;

  height: 100%; /* Should be removed. Only for demonstration */

 

}

 

.left {

  width: 12%;

}

 

.right {

  width: 88%;

  /* border: solid 1px; */

}