/* 
.box {         
  color:white;
  padding:10px;
  text-align:center;
  border-style: inset;
}
.green {
  background:green;
}
.blue {
  background:blue;
}
*/

.one {
  background-color: lightblue;
  margin:0px;
}

.two {
  background-color: lightgreen;
  margin:0px;
} 